header {
    text-align: center;
    color: white;
    background-color: #1e1e1e;
    font-size: xx-large;
    margin: 0px;
    padding-bottom: 5%;
    padding-top: 5%;
    width: 100%;

}

.title {
    color:white;
    font-family: 'Raleway', sans-serif;
    padding-right: 5%;
    padding-left: 5%;
    margin: 0px;
}



h1 {
    text-decoration: underline;
    text-decoration-color: #ff4400;
    text-decoration-thickness: 5px;
    color: #ff4400;
    padding-top: 5%;
}

h1 span {
    #color: #ff4400;
    background: -webkit-linear-gradient(45deg, #D00000, #ff4400);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.day_left {
    text-align: right;
    background: -webkit-linear-gradient(90deg, #B00000, #ff4400);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: xx-large;
}

h2 {
    padding-bottom: 5%;
}

body {
    margin: 0px;
}

.container-media {
    padding-bottom: 0%;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    object-fit: cover;
    size: auto;
    position: absolute;

}

.icones {
    font-family: 'Raleway', sans-serif;
    font-size: xxx-large;
    color: white;
    text-align: center;
    padding-top: 0px;
    margin-top: 0%;
    z-index :1;
}

.wave {
    height: 300px;
    padding: 0%;
    margin-top: -100px;
    z-index :1;
}

.content {
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
    color: white;
    text-align: center;
    background-color: #1e1e1e;
    padding-top: 50px;
    margin-top: 0%;
}

input[type="radio"].button {
  display: none;
}
input[type="radio"].button + label {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  color: #ffffff;
  background-color: #1e1e1e;
  border: 1px solid transparent;
  transition: all 0.5s ease-in-out;
}
input[type="radio"].button.imp:hover + label {
  background-color: #1e1e1e;
  border-color: #7c7c7c;
}
input[type="radio"].button.imp:checked + label {
  background-color: #1e1e1e;
  border-color: #ffffff;
}
input[type="radio"].button.Unimp:hover + label {
  background-color: #1e1e1e;
  border-color: #852700;
}
input[type="radio"].button.Unimp:checked + label {
  background-color: #1e1e1e;
  border-color: #ff4400;
}

input[type="text"] {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    color : white;
    background-color: #1e1e1e;
    text-align: center;
}

input[type="submit"].delete {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    color : #ff4400;
    background-color: #1e1e1e;
    border-color: #ff4400;
    border: 1px solid;
    transition: all 0.5s ease-in-out;
}
input[type="date"] {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    color: #ffffff;
      background-color: #1e1e1e;
    border: 1px solid transparent;
    transition: all 0.5s ease-in-out;
}
button[type="submit"] {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    color: #ffffff;
    background-color: #1e1e1e;
    border: 1px solid;
    transition: all 0.5s ease-in-out;<video loop muted autoplay poster="../static/videos/test_CA4_1.png" >
        <source src="../static/videos/test_CA4_20001-0240.mp4" type="video/mp4">
        </video>
    background-color: #000000;
    border-color: #0066ff;

}

.todo {
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
    color: white;
    text-align: center;
    background-color: #1e1e1e;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 0%;
    margin-bottom: 0%;
}

h1[class="Liste"] {
    padding: 3%;
    color :  white;
    font-family: 'Raleway', sans-serif;
    text-decoration: underline;
    text-decoration-color: #ff4400;
    text-decoration-thickness: 4px;
}

p span {
    color: red;
}

.todo_calender {
    width: 20%;
    font-family: 'Raleway', sans-serif;
    font-size: medium;
    color: white;
    text-align: left;
    background-color: #1e1e1e;
    padding: 40px;
    margin: 3%;
    border-style: solid;
    border-color: #ff4400;
    border-width: 4px;
}
.todo_calender_notIm {
    width: 20%;
    font-family: 'Raleway', sans-serif;
    font-size: medium;
    color: white;
    text-align: left;
    background-color: #1e1e1e;
    padding: 40px;
    margin: 3%;
    border-style: solid;
    border-color: #ffffff;
    border-width: 4px;
}

.todo_calender_notIm h2 {
    font-size: x-large;
    margin-left: -5%;
    margin-top: -5%;
}

.todo_calender h2 {
    font-size: x-large;
    margin-left: -5%;
    margin-top: -5%;
}


.box-container {
    display: flex;
    flex-direction: row;
    gap: 1%;

}
body {
    background-color: #1e1e1e;
}

footer {
    min-height: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}