<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TODO APP | HOME PAGE</title>
    <style>
        .todo {
            padding: 20px;
            margin: 10px;
            background-color: #eee;
        }
    </style>

    <link rel="stylesheet" type="text/css" href="../static/css/index.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,600;1,600&display=swap" rel="stylesheet">

</head>


<body>
    <header>
        <h1 class="title">TO<span>DO</span> LIST APP</h1>
        {% if logged %}
            <div class="button-container">
                <p>rdfqhdgHCD{{ logged }}</p>
                <button class="calender"><a href="calender/" style="color: white; text-decoration: none">Calender</a></button>
                <div >
                    <form method="post">
                        <button type="submit" class="search">search by Date :</button>
                        <input name="search_Date" type="date" value="search date" required >
                    </form>
                    <form method="post">
                        <button type="submit" class="search">search by Name :</button>
                        <input name="search_Name" type="text"  placeholder="starting by" required  >
                    </form>
                </div>
            </div>
        {% else %}
            <div>
                <h2> You need to be logged to acces the app</h2>
                <p><a href="#" class="search" >log in</a></p>
            </div>
        {% endif %}
    </header>

    <section>
    <div class="container-media" style="margin-bottom: -10px">
        <video loop muted autoplay poster="../static/videos/test_CA4_1.png" >
        <source src="../static/videos/test_CA4_30001-0240.mp4" type="video/mp4">
        </video>
    </div>
    </section>
    <section>
        <div class="content">
        <form method="post">
            <p>
                <b><label for="content">TODO CONTENT :</label></b>
            </p>
            <p>
                <input type="text" name="content"
                    placeholder=" TODO content">
            </p>

            <p>
                <b><label for="degree">DEGREE :</label></b>
            </p>
            <p>
                <input id="degree-0" name="degree" required type="radio" value="Important" class="button Unimp" checked>
                <label for="degree-0">Important</label>
            </p>
            <p>
                <input id="degree-1" name="degree" required type="radio" value="Unimportant" class="button imp">
                <label for="degree-1">Unimportant</label>
            </p>

            <p>
                <label for="date">To do before :</label>
                <input id="date" name="date" required type="date" value="ToDo date">
            </p>

            <button type="submit">Submit</button>
        </form>
        <h1 class="Liste"> TODO LIST :</h1>
        {% for todo in todos %}
                <div class="todo">
                    <p>{{ todo['content'] }}   <span><b><i>  ->  {{ todo['degree']}}</i></b></span></p>
                    <p><em>due for</em> : {{ todo['date'] }}</p>
                    <form method="POST" action="{{ url_for('delete', id=todo['_id']) }}" >
                        <input type="submit" class="delete" value="Done"
                               onclick="return confirm('Are you sure you want to delete this entry?')">
                    </form>
                </div>
        {% endfor %}
        </div>
    </section>
    <footer >
        <div class="container-media" style="margin-bottom: -10px">
            <video loop muted autoplay poster="../static/videos/test_CA4_1.png" >
            <source src="../static/videos/test_CA4_20001-0240.mp4" type="video/mp4">
            </video>
        </div>
    </footer>
</body>
</html>
